.nav-right {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    gap: 1em;
    padding-right: 50px;
    padding-top: 25px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}