.project-grid {
  display: grid;
  column-gap: 80px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
}

.project-card {
  display: block;
  border-radius: 16px;
  overflow: hidden;
  background: #111;
  border: 1px solid #222;
  text-decoration: none;
  width: 250px;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card-img-wrap {
  background-color: white;
  overflow: hidden;
}

.project-card-img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  display: block;

  transition: transform 0.35s ease;
}

.project-card-title {
  padding: 12px 14px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: lightblue;
}

/* Hover */
.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);
}

.project-card:hover .project-card-img {
  transform: scale(1.07);
  cursor: pointer;
}
